// _config.scss
$color-1: #043851;
$color-2: #a4c139;
$color-3: #83CD29;
$color-3: #83CD29;
$color-4: #F5F5F5;
$color-5: #00A7A4;
$color-6: #E4E4E4;
$color-7: #043851;
$color-8: #dddddd;
$color-9: #00A8A5;
$color-10: #83CD29;

$height-header: 50px;

